[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kVadim
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kVadim
	label-Verified = -1..+1 group user/kVadim
	push = group user/kVadim
	read = group user/kVadim
	rebase = group user/kVadim
	removeReviewer = group user/kVadim
	submit = group user/kVadim
[access "refs/heads/*"]
	create = group user/kVadim
	push = +force group user/kVadim
	pushMerge = group user/kVadim
	read = group user/kVadim
[access "refs/tags/*"]
	push = group user/kVadim
	push = +force group user/kVadim
