/* buttons */
.btn:focus {
	/* color: #444;
	font-weight: 800; */
	outline: none;
}

.action-btn {
	width: 125px;
	height: 29px;
	background-color: var(--btncolor);
	outline: none;
	border: none;
}

.top-header-btn {
	background-color: var(--btncolor);
	outline: none;
	height: 22px;
	width: 72px;
	border: none;
}
